<div class="news_main_box">
  <div class="container">
     <div class="news_logo_box">
      {%- for block in section.blocks -%}
        {% if block.settings.newsimg != blank %}
        <div class="news_logo">
           <img src="{{block.settings.newsimg | img_url: 'master' }}" alt="" class="news_img">
        </div>
      {% endif %}
      {% endfor %}
     </div>
  </div>
</div>

{% schema %}
{
  "name": "news logo section",
  "settings": [],
  "blocks": [
    {
      "name": "img",
      "type": "img",
      "settings": [
         {
           "type": "image_picker",
           "id": "newsimg",
           "label": "Add img"
         }
      ]
    }
  ],
  "presets": [
    {
      "name": "news logo section",
      "settings": {}
    }
  ]
}
{% endschema %}
