<body>
  <swiper-container class="mySwiper" slides-per-view="4" space-between="30">
    <swiper-slide>
        <img src="https://us.bombayshirts.com/products/somelos-twill-checked-shirt-pink-blue">
    </swiper-slide>
    <swiper-slide>
        <img src="https://us.bombayshirts.com/cdn/shop/files/a6d206c1-0bda-75e7-bac4-36cc37eb488b_Somelos_20Striped_20Shirt_20-_20Red_20_26_20Grey_-2_e945970f-92a4-418f-80ab-15cd9128db0b.jpg?v=1720780722">
    </swiper-slide>
    <swiper-slide>
        <img src="https://us.bombayshirts.com/cdn/shop/files/9b763280-af65-aa82-d710-26c5eb7d7ab9_Dobby_20Striped_20Shirt_20-_20Orange_20_26_20White_20copy_202_63071c88-fb2b-4605-b75f-28a26f9d4c8a.jpg?v=1720805387">
    </swiper-slide>
    <swiper-slide>
        <img src="https://us.bombayshirts.com/cdn/shop/files/5aa5c610-160e-6f5b-29b6-d1fe45e25788_3.jpg?v=1718708303">
    </swiper-slide>
    <swiper-slide>
        <img src="https://us.bombayshirts.com/cdn/shop/files/b7ef2f16-c043-2f6e-b458-63e5fc89a3fe_Somelos_20Houndstooth_20Shirt_20-_20Blue_20close_20up_66fab06f-a303-4576-ba71-063a4b01a66b.jpg?v=1720779525">
    </swiper-slide>
    <swiper-slide>
        <img src="https://us.bombayshirts.com/cdn/shop/files/8ad314e0-30a2-a3c0-3f34-7e278f81658b_Somelos_20Super-light_20Checked_20Shirt_20-_20Blue_-2_f699a6f0-faa0-407b-87d0-6cc3fb2b70e6.jpg?v=1721119959">
    </swiper-slide>
    <swiper-slide>
        <img src="https://us.bombayshirts.com/cdn/shop/files/17beaf58-4166-c204-12f0-a016b2bad4f9_3_eedf5bae-2dbd-43bc-9e8a-d48246c1368f.jpg?v=1721134997">
    </swiper-slide>
    <swiper-slide>
        <img src="https://us.bombayshirts.com/cdn/shop/files/9237e920-ceb5-f1cd-ec3a-229c13d4236a_Brown_20Black_20Houndstooth_20-_203.jpg?v=1720804466">
    </swiper-slide>
  </swiper-container>
</body>

{% schema %}
    {
        "name": "New Shirt Image Slider",
        "settings": [],
        "presets": [
    {   
        "name": "New Shirt Image Slider"
    }
    ]
}
{% endschema %}

<style>

    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>