.Slideshow--fullscreen .Slideshow__Image{
    object-position: right center !important;
}
    .Slideshow .SectionHeader__Heading {
        font-size: 50px;
        color: #fff !important;
        letter-spacing: normal;
        text-transform: capitalize;
        font-family: Helvetica !important;
        margin-bottom: 0;
    }

    .Slideshow .SectionHeader__SubHeading {
        font-size: 16px;
        color: #fff !important;
        letter-spacing: normal;
        text-transform: capitalize;
        font-family: Helvetica !important;
        margin-bottom: 0;
    }

    .SectionHeader__ButtonWrapper {
        margin-top: 15px !important;
    }

    #section-slideshow_pLAy9m .Button::before {
        background-color: #231f20 !important;
    }

    #section-slideshow_pLAy9m .Button {
        color: #fff !important;
        text-transform: capitalize !important;
        font-family: Helvetica !important;
        font-size: 16px;
        padding: 19px 30px;
        letter-spacing: normal;
        border-radius: 12px !important;
        overflow: hidden;
        border: 1px solid #231f20 !important;
    }

    #section-slideshow_pLAy9m .Button:hover {
        border: 1px solid #fff !important;
    }



    /* media query  */

    @media (max-width: 1008px) {

        .Slideshow__Content--bottomLeft,
        .Slideshow__Content--bottomCenter {
            top: auto !important;
            bottom: 70px !important;
            left: 0 !important;
            -webkit-transform: none !important;
            transform: none !important;
            text-align: left !important;
        }
    }

    @media (max-width:640px) {
        .Slideshow .Slideshow__Content {
            position: relative !important;
            background: #fff !important;
            padding: 23px 16px 10px !important;
            border-radius: 10px 10px 0 0 !important;
            overflow: hidden !important;
            margin-top: -95px !important;
        }

        .Slideshow .SectionHeader__Heading {
            color: #231f20 !important;
            font-size: 20px;
            margin-bottom: 15px;
        }

        .Slideshow .SectionHeader__SubHeading {
            color: #7b7b7b !important;
            font-size: 14px;
        }
        .ButtonGroup{
            justify-content: left !important;
        }
    }